@import "./common/reset.css";
@import "./common/footer.css";
@import "./common/header.css";
/*@font-face{
  font-family: "myFontLight";
  src: url("../fonts/NotoSansTC-Light.otf");
  font-display: swap;
}

@font-face{
  font-family: "mySemiBold";
  src: url("../fonts/NotoSerifCJKtc-SemiBold.otf");
  font-display: swap;
}*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

*{
  box-sizing:border-box;
  list-style:none;
}


body{
  margin:0;
  font-size:0;
  font-family: 'Noto Sans TC', sans-serif;
  color:#494949;
}

nav.right > ul > li:nth-child(1) a{
  background-color:#ffba39;
  color:white;
}

header nav.nav ul.link_list > li:nth-child(1) a{
  color:#ffba39;
}


div.banner{
  /*min-width: 1200px;*/
  min-width:100%;
  height: 30vw;
  background-image: url("../img/shopbanner.jpg");
  background-size: cover;
  background-position:center center;
  text-align:center;
  color:black;
}

div.banner > p.banner_title{
	font-size:45px;
	font-family: 'Noto Serif TC', serif;
	display:inline-block;
	margin:0 auto;
	margin-top:10%;

}


div.parent_container{
	max-width:1200px;
	/*min-width:574px;*/
	margin:50px auto 90px;
	display: flex;
}

aside{
	width: 25%;
    margin-right: 1vw;
    margin-left: 2vw;
    font-size: 16px;
    display: inline-block;
}

main{
	flex: 1;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}



aside  div.search_bar{
	background-color:rgb(251,251,174);
	width: 180px;
	border-radius: 8px;
}

aside  div.search_bar  input.search{
	  background-color:rgb(251,251,174);
	  font-size: 16px;
	  padding: 5px 10px 5px 5px;
	  outline: none;
	  /*background-image: url("../img/search.png");
	  background-repeat: no-repeat;
	  background-position: 170px 4px;*/	  
	  width: 140px;
	  border:none;
	  border-radius: 8px;

}

aside  div.option_list{
	margin-left:20px;
	margin-top:30px;
}

aside  div.option_list > p{
	margin:10px 0;
	font-size:20px;
}

aside  div.option_list > div.option{
	margin:15px 0;
	font-size:16px;
}

aside  input[value="以上條件搜尋"]{
	background-color: white ;
	border:1px solid #ffba39;
	/*border:transparent;*/
	color:#ffba39;
	box-shadow:4px 3px 0px #ffba39 ;
	outline:none;
	cursor: pointer;
	font-size:17px;
	padding:6px 15px 6px 15px;
	border-radius:30px;
	margin-top:20px;
	margin-left:10px;

	transition:all .3s ease-in-out;
}

aside  input[value="以上條件搜尋"]:hover{
	background-color:#ffba39;
	color:white;
	box-shadow:none;
}



select.sort{
	font-size:15px;
	padding:5px 10px 5px 10px;
	margin-bottom:35px;
	border:none;
}



div.number{
	font-size:16px;
	margin-right:20px;
	/*display:inline-block;*/
}

div.number > p{
	display:inline-block;
}


div.number > p.n2{
	color:gray;
	opacity:0.5;
}

/*aside input:checked {
	color:rgb(255, 203, 120);
}
*/

/*item*/

div.hotgoods_other{
  
  /*display:inline-block;*/
  /*margin:35px auto 30px;*/
}


div.allitem {
  /*display:inline-block;*/
  vertical-align:middle;
  border-radius:5px;
  overflow:hidden;
  box-shadow: -3px 3px 10px #eee;
  /*text-align:center;*/
  font-size:16px;
  width:260px;
  /*margin:0 15px;*/
  margin-bottom:35px;
}

div.iteminfo{
  padding-top:10px;
  padding-bottom:10px;
  text-align:left;
  padding-left:10px;
  position: relative;
}

a.hottitle{
	/*width:200px;*/
}

div.white_cart{
	font-size:16px;
	display: flex;
	justify-content: flex-end;
	padding-right: 3%;
}

/*div.white_cart > a {
	background-image:url("../img/newcart4.png");
	background-size:cover;
	border:1px solid red;
	display: block;
    font-size: 0; 
    height: 34px;
    width: 38px;
}*/




/*div.white_cart > a:hover{
	background-image:url("../img/bg_cart.png");
	background-size:cover;	
  	background-repeat:no-repeat;
}*/




div.iteminfo > p.prize{
  font-size:12px;
}



div.allitem > a > img{
  width:260px;
  height:260px;
  vertical-align:middle;
}


main > div.pagination_block{
	font-size:15px;
	margin:0 auto;
	margin:30px 0;
}

main > div.pagination_block > ul.pagination > li{
	display:inline-block;
	margin:0 10px;
}

main > div.pagination_block > ul.pagination > li > a{
	/*border:1px solid red;*/
	padding:5px;
	color:gray;
}


main > div.pagination_block > ul.pagination > li > a.-on{
	color:#ffba39;
}

main > div.pagination_block > ul.pagination > li > a:hover{
	color:#ffba39;
}


div.allitem > a {
	display:block;	
	overflow:hidden;
}


img.item3{
	transition:transform 1s;	
}


div.allitem > a:hover > img{
	transform:scale(1.1,1.1);
}


div.iteminfo a:hover{
	color:#ffba39;
}


div.wrapper{
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.selectall{
	display:flex;
	justify-content: space-between;
	padding:0 20px;
}


.fa-search{
	vertical-align:middle;
	color:#7b7b7b;
	font-size:20px;
	margin-left:5%;
}

.fa-search:hover{
	color:#ffba39;
	cursor:pointer;
}

button.cart{
	border:none;
	outline:none;
	background-color:transparent;
}

.fa-cart-plus{
	font-size:37px;
	color:#ffba39;
	margin:0 auto;
	transition:transform .3s ease-in-out;
}


.fa-cart-plus:hover{
	color:#d08700;
	cursor: pointer;
	transform:scale(1.1,1.1);
	transition:all .3s ease-in-out;
}





